/* max-width:600px */
@media(max-width:600px){
  /* html, body {
    line-height: 1.8;
}
  .container{
    margin:0;
  }
  .Calories-table {
    width: 100%;
}

h1 {
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  } */

}
/* max-width:915px */
/* @media(max-width:915px){
  html, body {
    line-height: 1.8;
}
  .container{
    margin:0;
  }
  .Calories-table {
    width: 100%;
}

h1 {
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }

} */
