html,body{
  font-family:"Young Serif", sans-serif;
  background-color:hsl(30, 54%, 90%);
  max-width: 1440px;
  font-size:16px;
  line-height: 1.8;
}
.container{
  margin:0 15rem;
  padding:3rem;
  background-color:hsl(0, 0%, 100%);
}
img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}
.bold{
  font-weight:bold;
}
#pre-time{
  padding-left:20px;
  background-color:hsl(330, 100%, 98%);
  padding-top:10px;
  padding-bottom: 10px;
}
#pre-time-title{
  font-size:1.2rem;
  font-weight: bold;
}
.grid-container{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:2rem;
}
.grid-item .header{
  font-weight: bold;
}
.grid-item{
  border:solid 1px hsl(30, 54%, 90%);
  text-align:center;
  padding:13px;
}
.calories-count{
  font-weight:bold;
}
.Calories-table{
  display: block;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
.cal{
  display:flex;
  justify-content:space-between;
  gap:2rem;
  border-bottom:1px solid #000;
}
.cal-title{
  padding-left:20px;
}
.cal-bold{
  padding-right:20px;
  font-weight: bold;
}
.attribution{
  padding-top:20px;
}
